            #container {
                margin: 70px auto;
                height: 625px;
                width: 700px;
                border: 3px solid black;
            }
            
            h2 {
                font-family: sans-serif;
                margin: 20px;
            }
            
            #first_Line {
                position: relative;
                bottom: 35px;
                opacity: 0.5;
            }
            
            .fa-times {
                position: relative;
                left: 650px;
                top: -45px;
                font-size: 25px;
                color: red;
                cursor: pointer;
            }
            
            #list_Container {
                list-style-type: none;
                position: relative;
                bottom: 30px;
                line-height: 30px;
            }
            
            #list_Container #First_Name {
                font-weight: bolder;
                font-size: 20px;
                font-family: sans-serif;
            }
            
            #list_Container #fName {
                position: relative;
                top: -5px;
                font-family: sans-serif;
                height: 33px;
                padding-left: 10px;
                width: 90%;
                border-radius: 5px;
            }
            
            #list_Container #Last_Name {
                font-weight: bolder;
                font-size: 20px;
                font-family: sans-serif;
                position: relative;
                top: 8px;
            }
            
            #list_Container #lName {
                position: relative;
                top: 3px;
                font-family: sans-serif;
                height: 33px;
                padding-left: 10px;
                width: 90%;
                border-radius: 5px;
            }
            
            #list_Container #Profile_strength {
                font-weight: bolder;
                font-size: 20px;
                font-family: sans-serif;
                position: relative;
                top: 13px;
            }
            
            #list_Container #profile {
                position: relative;
                top: 7px;
                font-family: sans-serif;
                height: 33px;
                padding-left: 10px;
                width: 90%;
                border-radius: 5px;
            }
            
            #list_Container #user_Name {
                font-weight: bolder;
                font-size: 20px;
                font-family: sans-serif;
                position: relative;
                top: 15px;
            }
            
            #list_Container #uName {
                position: relative;
                top: 10px;
                font-family: sans-serif;
                height: 33px;
                padding-left: 10px;
                width: 90%;
                border-radius: 5px;
            }
            
            #list_Container #email_Address {
                font-weight: bolder;
                font-size: 20px;
                font-family: sans-serif;
                position: relative;
                top: 18px;
            }
            
            #list_Container #eMail {
                position: relative;
                top: 13px;
                font-family: sans-serif;
                height: 33px;
                padding-left: 10px;
                width: 90%;
                border-radius: 5px;
            }
            
            #list_Container #Password {
                font-weight: bolder;
                font-size: 20px;
                font-family: sans-serif;
                position: relative;
                top: 21px;
            }
            
            #list_Container #passWord {
                position: relative;
                top: 16px;
                font-family: sans-serif;
                height: 33px;
                padding-left: 10px;
                width: 90%;
                border-radius: 5px;
            }
            
            #second_Line {
                position: relative;
                bottom: 8px;
            }
            
            #cancelBtn {
                font-family: sans-serif;
                height: 35px;
                width: 80px;
                background-color: white;
                color: black;
                border-radius: 5px;
                padding: 5px;
                border: 1px solid black;
                font-size: 15px;
                cursor: pointer;
                position: relative;
                left: 490px;
            }
            
            #cancelBtn:hover {
                color: white;
                background-color: red;
                border: 1px solid red;
            }
            
            #addBtn {
                font-family: sans-serif;
                height: 35px;
                width: 80px;
                background-color: rgb(30, 206, 30);
                color: white;
                border-radius: 5px;
                padding: 5px;
                border: 1px solid rgb(30, 206, 30);
                font-size: 15px;
                cursor: pointer;
                position: relative;
                left: 510px;
            }
            
            #addBtn:hover {
                color: white;
                background-color: rgb(7, 153, 14);
                cursor: pointer;
            }
            
            #addUser {
                cursor: pointer;
                height: 50px;
                width: 150px;
                color: white;
                font-size: 20px;
                background-color: rgb(16, 128, 202);
                border-radius: 7px;
                position: relative;
                left: 1200px;
                top: 30px;
                border: 2px solid rgb(14, 50, 211);
            }
            
            #addUser:active {
                transform: translateY(4px);
            }
            
            #anchorAdd:link,
            #anchorAdd:visited,
            #anchorAdd:hover,
            #anchorAdd:active {
                color: white;
                text-decoration: none;
            }
            
            #displayingExistingUser {
                display: grid;
                margin: 50px auto;
                min-height: auto;
                max-width: 1200px;
                background-color: rgba(236, 236, 236, 0.5);
                grid-template-columns: 250px 250px 250px;
                justify-content: space-evenly;
                grid-gap: 50px 59px;
            }
            
            .grid-item {
                margin: 10px;
                background-color: rgb(253, 253, 253);
                box-shadow: 4px 5px 4px rgb(202, 199, 199), 7px 5px 4px rgb(202, 199, 199), 12px 5px 4px rgb(202, 199, 199), 2px 5px 14px rgb(202, 199, 199);
                height: 150px;
                width: 300px;
            }
            
            .grid-item:hover {
                background-color: rgb(213, 218, 221);
            }
            
            .grid-items-name {
                text-transform: uppercase;
                text-align: center;
                position: relative;
                top: 60px;
                height: 25px;
            }
            
            .fa-pencil-alt {
                color: rgb(11, 158, 226);
                position: relative;
                bottom: 40px;
                left: 250px;
                cursor: pointer;
            }
            
            .fa-trash-alt {
                color: red;
                position: relative;
                bottom: 40px;
                left: 260px;
                cursor: pointer;
            }
            
            #error,
            #editError {
                height: 50px;
                width: 800px;
                position: relative;
                top: 0px;
                left: 300px;
                color: red;
                border: 2px solid red;
                background-color: rgb(245, 215, 215);
                padding: 5px 10px;
                display: none;
            }
            
            #error_display_message,
            #edit_error_display_message {
                position: relative;
                left: 200px;
            }
            
            .fa-window-close {
                position: relative;
                bottom: 45px;
                font-size: 40px;
                cursor: pointer;
            }
            
            @media only screen and (max-width:700px) {
                #container {
                    margin: 70px auto;
                    width: 100%;
                }
                #cancelBtn {
                    position: relative;
                    left: 40px;
                }
                #addBtn {
                    position: relative;
                    left: 50px;
                }
                .fa-times {
                    position: relative;
                    left: 150px;
                    top: -45px;
                    font-size: 25px;
                    color: red;
                    cursor: pointer;
                }
                #addUser {
                    position: relative;
                    left: 20px;
                }
            }
            
            @media only screen and (min-width:900px) and (max-width:1250px) {
                #displayingExistingUser {
                    display: grid;
                    margin: 50px auto;
                    min-height: auto;
                    max-width: auto;
                    background-color: rgba(236, 236, 236, 0.5);
                    grid-template-columns: 250px 250px;
                    justify-content: space-evenly;
                    grid-gap: 50px 59px;
                }
                .grid-item {
                    margin: 10px;
                    background-color: rgb(253, 253, 253);
                    box-shadow: 4px 5px 4px rgb(202, 199, 199), 7px 5px 4px rgb(202, 199, 199), 12px 5px 4px rgb(202, 199, 199), 2px 5px 14px rgb(202, 199, 199);
                    height: 150px;
                    width: 300px;
                }
                #addUser {
                    position: relative;
                    left: 20px;
                }
                /* #error {
                    position: relative;
                    left: 200px;
                    width: 300px;
                    height: 100px;
                }
                #error_display_message {
                    position: relative;
                    left: 0;
                } */
            }
            
            @media only screen and (min-width:0px) and (max-width:900px) {
                #displayingExistingUser {
                    display: grid;
                    margin: 50px auto;
                    height: auto;
                    max-width: auto;
                    background-color: rgba(236, 236, 236, 0.5);
                    grid-template-columns: 250px;
                    justify-content: space-evenly;
                    grid-gap: 50px 59px;
                }
                #addUser {
                    position: relative;
                    left: 20px;
                }
                /* #error {
                    position: relative;
                    left: 200px;
                    width: 300px;
                    height: 100px;
                }
                #error_display_message {
                    position: relative;
                    left: 0;
                }
                .fa-window-close {
                    position: relative;
                    bottom: 45px;
                    font-size: 40px;
                    cursor: pointer;
                } */
            }